/*Pseudo Elements*/

p::first-line{
    font-weight: bold;
    color:bisque;
    word-spacing:6px;
    letter-spacing:2px
}

p::first-letter{
    color:brown;
    font-size: 24px;
}

/*Pseudo Classes*/

ul li {
    padding:5px;
    margin-bottom: 10px;
}

ul li:first-child{
    color:grey;
}

ul li:last-child{
    background-color:aquamarine
}

a:visited{
    color:rgb(122, 202, 122);
}

a:hover{
    background-color: blanchedalmond;
    color:black;
    height:25px;
    width:150px;
    border-right:3px solid black;
    border-left:0;
    font-weight:bold;
    text-align: end;
}

a{
    padding:5px 10px;
    text-decoration:none;
    display:block;
    width:100px;
    border-left: 1px solid black;
    margin-bottom: 10px;
}